# Application
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1

# MongoDB
MONGODB_URI=mongodb://localhost:27017/social-media-db

# JWT
JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRATION=7d

# Throttler
THROTTLER_TTL=60000
THROTTLER_LIMIT=10
